@use "../utils/variables";

@media print {
    $footer-height: if(variables.$print-footer, 1rem, 0);
    
    // GENERAL PRINT RESET

    @page {
        margin: variables.$print-page-margin;
        size: variables.$print-page-size;
    }

    :root {
        --text-color: #000000;
    }

    html,
    body {
        width: 100%;
        min-height: 100%;
        font-size: variables.$print-body-font-size;
        overflow: hidden;
        --primary-color: #000000 !important;
        --secondary-color: #000000 !important;
        --gray: #000000 !important;
    }

    *,
    *:before,
    *:after {
        box-shadow: none !important;
        text-shadow: none !important;
        transition: none !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h1,
    h2,
    h3 {
        page-break-after: avoid;
    }

    // ELEMENTS
    // PRINT STYLE ADJUSTMENTS

    .layout {
        display: block;
        padding-bottom: 2 * $footer-height !important;
    }

    .container {
        max-width: none !important;
        padding-left: 0;
        padding-right: 0;
    }

    .entry__content {
        max-width: none !important;
        text-align: justify;

        a {
            font-weight: bold;
        }

        * > * {
            margin-top: 0.5em;
        }
    }

    .header {
        padding: 0 !important;
        margin-bottom: 1rem;
    }

    .sidebar {
        display: none !important;
    }

    .footer {
        display: if(variables.$print-footer, unset, none !important);
        background: transparent !important;
        position: absolute !important;
        bottom: $footer-height !important;
        width: 100% !important;
        height: $footer-height !important;
        padding: 0 !important;
    }

    .section__title {
        margin-bottom: 0.5rem;
    }

    .entrylist::before,
    .entrylist__item::before,
    .bulletlist li::before {
        content: none; // get rid of time line with red dots
        color-adjust: exact !important;
        -webkit-print-color-adjust: exact !important;
    }

    .entrylist__item,
    .entry {
        widows: 3;
        orphans: 3;
        padding: 0;
        page-break-inside: avoid;
    }

    main {
        column-count: variables.$print-main-column-count;
        column-gap: variables.$print-main-column-gap;
    }

    .vcard {
        flex-direction: row;
        flex-wrap: nowrap;
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 2.5rem;

        &__social {
            display: inline-flex;
        }
        &__content {
            max-width: 25ch;
            padding-top: 0;
        }
        &__qrcode {
            display: block;
            max-width: 25ch;
        }
        &__avatar {
            display: none;
        }
    }
    
    section {
        padding-top: 0 !important;
        page-break-inside: auto !important;
    }

    .entrylist {
        padding-left: 0 !important;
    }

    .flex-grow {
        flex-grow: 1;
        max-width: none;
    }
    .lead {
        max-width: none;
    }
    .vcard {
        flex-wrap: nowrap;
    }

    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }

    // not sure why this is needed when using "sprite" mode instead of "inline"
    svg.icon > use {
        transform: scale(0.66);
    }
}
