<!DOCTYPE html>
<html class="no-js" lang="{{ meta.lang }}">
<head>
    {% include "meta.njk" %}
    {% localizeFontsCss "/assets/fonts/libre-baskerville/font.css", "https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" %}
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' }}">
</head>
<body style="{{ additionalCss }}">
    <div class="layout h-resume" role="document">
        {% include "header.njk" %}
        {{ content | safe }}
        {% include "sidebar.njk" %}
        {% include "footer.njk" %}
    </div>

    {% svgSprite %}
    <script type="text/javascript" src="{{ '/assets/scripts/main.js' }}"></script>
    <!--! LAST BUILD: {{ build.env}} {{ build.timestamp | dateToISO }} -->
</body>
</html>